
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loo konto</title>

    <link rel="stylesheet" href="{% static 'kulutused/index.css' %}">

</head>
<body> 
    <div style="height: 100px;"></div>
    <div class="glass-background" style="padding: 24px; text-align: center;">
        <p class="column-header">Loo konto</p>
        <br><br>
        <form action="{% url 'kulutused:signup' %}" method="post">
            {% csrf_token %}
            <input class="login-input" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username"  type="text" name="username" id="" placeholder="Kasutajanimi">
            <br><br><br>
            <input class="login-input" type="password" name="password1" id="" placeholder="Parool" autocomplete="new-password" required id="id_password1">
            <br><br>
        
            <input class="login-input" type="password" name="password2" id="" placeholder="Korda parooli" autocomplete="new-password" required id="id_passwor2">

            {% if form.errors %}
            <p style="color: red; text-align:center; margin: 0 20px;">Veendu, et täitsid kõik väljad õigesti</p>
            {% endif %}
            <br><br>
            <button type="submit" value="Register">Loo konto</button>
            <br><br>
        </form>
        
    </div>
    <br><br>
    <div class="outlined-div" style="width: 450px;">
        <br>
        <p>Konto olemas? <a class="link" href="/accounts/login">Logi sisse</a></p>
        <br>
    </div>
        
            

       
</body>
</html>