{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liitu grupiga | Avaleht</title>
    <link rel="stylesheet" href="{% static 'kulutused/index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<body>
    <div class="title-div-login"  style="text-align: end; display: block;">
        <p class="greeting">Hei, <span style="color: white; border-bottom: 3px dotted; text-decoration: none;">{{ user.username|title }}</span> &nbsp;<a href="{% url 'kulutused:logout' %}"><i class="material-icons icon-button" style="color: red;">logout</i></a></p>
        <br>
    </div>
 
    
    <div class="glass-background" style="padding: 16px; width: max-content; margin: auto;">
        <div class="transaction-div">
            <p class="column-header">{{group_name}}</p>
            <p>Kas tahad selle grupiga liituda?</p>
            <form action=" {% url 'kulutused:join' group_id=group_id %}" method="post">
                {% csrf_token %}
                <button>Liitu</button>
            </form>
        </div>
    </div>
</body>

</html>